body {
  background-color: black !important;
  margin: 0;
  color: white;
}

.tooltip #hh {
  font-weight: 600;
}

.tooltip #tooltip-text {
  font-size: 15px;
}

.remove-all-margin {
  margin: 0 !important;
}

.web-text {
  font-size: 24px;
  font-weight: normal;
}

.remit-text {
  font-size: 28px;
  font-weight: bolder;
}

.highlighted-main {
  color: black;
  background-color: white;
  font-weight: bolder;
}

.highlighted-remit {
  color: black;
  background-color: rgba(136, 183, 181, 1);
  font-weight: bolder;
}

.highlighted-no-remit {
  color: black;
  background-color: rgba(132, 121, 150, 1);
  font-weight: bolder;
}

#tip {
  font-size: 16px;
}
